<div class="about" id="About">
    <h1 class="about-h1">
        <span>A</span>
        <span>B</span>
        <span>O</span>
        <span>U</span>
        <span>T</span>
    </h1>
        <img src="/saute.jpg" class="about-img" alt="" srcset="">
    <div class="about-des">
        <h1 class="about-title">
            Meal Maker
        </h1>
        <p class="about-text">
            Meal Maker is your ultimate kitchen companion, turning your ingredients into delicious recipes in seconds! <br><br>
            Just tell us what you have, and we’ll craft the perfect dish for you. <br><br>
            No more wasting food or struggling with meal ideas—trust Meal Maker to bring creativity, ease, and joy to your cooking!
        </p>
    </div>
</div>