
<div class="parent">
    <div class="div1">Your Meal, Your Rules</div>
    <div class="div2"><video src="/rect-4.mp4" autoplay muted loop width="930px"></video></div>
    <div class="div3"><video src="/rect-3.mp4" autoplay muted loop width="580px"></video></div>
    <div class="div4"><video src="/long-1.mp4" autoplay muted loop width="500px"></video></div>
    <div class="div5"><video src="/long-2.mp4" autoplay muted loop width="500px"></video></div>
    <div class="div6"><video src="/rect-2.mp4" autoplay muted loop width="580px"></video></div>
    <div class="div7"><video src="/rect-1.mp4" autoplay muted loop width="930px"></video></div>
</div>
    