<div class="contact" id="Contact">
    <div class="contact-title">
        <h1>contact us</h1>
    </div>
    <div class="contact-info">
        <div class="contact-1">
            <div class="c-photo">
                <img src="https://github.com/MeetPatel-2005/SGP-PROJECT1/blob/main/public/images/WhatsApp%20Image%202024-11-15%20at%2013.18.05_2bf5d406.jpg?raw=true" alt="" srcset="">
            </div>
            <div class="c-details">
                <p>Name: Meet Patel </p>
                <p>Email: 23dcs085charusat@gmail.com </p>
                <p>Contact No.: +91 8320635225</p>
                <p>Technology: Backend</p>
            </div>
        </div>
        <div class="contact-1">
            <div class="c-photo">
                <img src="https://github.com/MeetPatel-2005/SGP-PROJECT1/blob/main/public/images/WhatsApp%20Image%202024-11-15%20at%2013.22.45_089c8a20.jpg?raw=true" alt="" srcset="">
            </div>
            <div class="c-details">
                <p>Name: Malay Patel</p>
                <p>Email: 23dcs082charusat@gmail.com</p>
                <p>Contact No.: +91 9586487086</p>
                <p>Technology: Frontend</p>
            </div>
        </div>
        <div class="contact-1">
            <div class="c-photo">
                <img src="/Rudra.jpg" alt="" srcset="">
            </div>
            <div class="c-details">
                <p>Name: Rudra Patel</p>
                <p>Email: 23dcs088charusat@gmail.com</p>
                <p>Contact No.: +91 9574491801</p>
                <p>Technology: Database</p>
            </div>
        </div>
    </div>
</div>