<div class="contact" id="Contact">
    <div class="contact-title">
        <h1>contact us</h1>
    </div>
    <div class="contact-info">
        <div class="contact-1">
            <div class="c-photo">
                <img src="/DevPhoto.webp" alt="" srcset="">
            </div>
            <div class="c-details">
                <p>Name: </p>
                <p>Email: </p>
                <p>Contact No. :</p>
                <p>Technology: </p>
            </div>
        </div>
        <div class="contact-1">
            <div class="c-photo">
                <img src="/DevPhoto.webp" alt="" srcset="">
            </div>
            <div class="c-details">
                <p>Name: </p>
                <p>Email: </p>
                <p>Contact No. :</p>
                <p>Technology: </p>
            </div>
        </div>
        <div class="contact-1">
            <div class="c-photo">
                <img src="/DevPhoto.webp" alt="" srcset="">
            </div>
            <div class="c-details">
                <p>Name: </p>
                <p>Email: </p>
                <p>Contact No. :</p>
                <p>Technology: </p>
            </div>
        </div>
    </div>
</div>