
<div class="footer">
    <div class="foot">
      <div class="contact-us">
        <h1>Contact Us</h1>
        <ul>
          <li><img src="/home.gif" alt="" srcset="">Address: Charusat University</li>
          <li><img src="/contact.gif" alt="" srcset="">Email: 23dcs082@charusat.edu.in</li>
          <li><img src="/contact4.gif" alt="">Phone No.: 9586487086</li>
        </ul>
      </div>
      <div class="q-link">
        <h1>Quick Link</h1>
        <ul>
          <li><img src="/home.gif" alt="" srcset=""><a href="#Home">Home</a></li>
          <li><img src="/contact.gif" alt="" srcset=""><a href="#About">About Us</a></li>
          <li><img src="/contact4.gif" alt=""><a href="#Contact">Contact Us</a></li>
          <li><img src="/faq.gif" alt="" srcset=""><a href="#FAQ">FAQs</a></li>
        </ul>
      </div>
      <div class="newsletter">
        <h1>Newsletter</h1>
        <p>Subscribe to our newsletter to get latest updates</p>
        <input type="email" placeholder="Enter your email" />
        <button>Subscribe</button>
      </div>
    </div>
    <div class="copyright">
      <p>&copy; 2025 MealMaker. All rights reserved.</p>
    </div>
  </div>
