<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-Sign Up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/account.css">
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="login">
                <h1>Sign In</h1>
                <form method="post" id="loginForm">
                    <input type="email" name="email" id="loginEmail" placeholder="Email" required>
                    <input type="password" name="password" id="loginPassword" placeholder="Password" required>
                    <a href="http://localhost:3000/forget-password">Forgot your password ? </a>
                    <button type="submit" name="login">Login</button>
                </form>
            </div>
            <div class="signup">
                <h1>Sign Up</h1>
                <form method="post" id="signupForm">
                    <input type="text" name="name" id="signupUsername" placeholder="Username">
                    <input type="email" name="email" id="signupEmail" placeholder="Email">
                    <input type="password" name="password" id="signupPassword" placeholder="Password">
                    <button type="submit" name="login">Sign Up</button>
                </form>
            </div>

            <div class="toggle">
            
            </div>

            <div class="part1">
                <h1>Already have an account ?</h1>
                <p>Sign in to your account to get your meals on time</p>
                <button class="signin">Sign In</button>
            </div>
            <div class="part2">
                <h1>Don't have an account ?</h1>
                <p>Register to get your recipes generated and enjoy your meals</p>
                <button class="register">Register</button>
            </div>
            </div>

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script type="module" src="/utils.js"></script>
    <script type="module" src="/account.js"></script>
</body>
</html>