:root{
  --dark-blue: #0d0d19;
  --purple: #6366F1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

html,
body {
  height: 100%;
  width: 100%;
}

body{
  /* display: flex;
  flex-direction: column; */
  min-height: 100vh;
  background-color: #eaebfd;
  overflow-x: hidden; 
}

